<h1>{{title}}</h1>
<h4>Sub-legenda legal</h4>

<p>Total de nomes: {{nomes.length}}</p>
<p>Nome Principal: {{nomePrincipal}}</p>

<div *ngIf="nomes.length <= 4">
  <input type="text" />
  <button>Adicionar</button>
</div>

<ul>
  <li *ngFor="let item of nomes" [style.color]="corPrincipal">
    {{item.nome}} - {{item.idade}} anos - {{item.getTipo()}}
  </li>
</ul>

<p *ngIf="nomes.length > 2">Tem muitos nomes cadastrados!</p>
<div *ngIf="showAviso">{{avisoMsg}}</div>

<input type="text" value="{{nomePrincipal}}" />
<input type="text" [value]="nomePrincipal" />
<input type="text" [value]="3 + 3" />
<input type="text" bind-value="nomePrincipal" />
<input type="text" [value]="nomePrincipal" (input)="trocarNome($event.target.value)" />
<input type="text" [value]="nomePrincipal" (keyup.enter)="trocarNome($event.target.value)" />
<input type="text" [disabled]="hideInput" /><br/>

<input type="text" #nomeInput (keyup)="0" (keyup.enter)="trocarNome(nomeInput.value); nomeInput.value=''" />
<p>Variável: {{ nomeInput.value }}</p>

<img src="{{imagem}}" />
<img [src]="imagem" />
<!--<img bind-src="imagem" />-->

<div [style]="{color:'#FFF', width:'100px', height:'100px', fontSize: tamanhoFonte, backgroundColor:'#00FF00'}">
  Texto qualquer
</div>

<div [class]="{menu:true, ativo:false}">
  Outro titulo qualquer
</div>
<div [class]="{menu:true, ativo:true}">
  Outro titulo qualquer2
</div>
<div [class.teste]="true">Texto</div>
<div [class]="{menu: true}">Texto</div>

<button (click)="trocarCor('#0000FF')">Colocar AZUL</button>
<button (click)="trocarCor('#FF0000')">Colocar VERMELHO</button>

<ul>
  <li
  *ngFor="let item of nomes"
  [style.color]="corPrincipal"
  (click)="clicou(item)"
  >
    {{item.nome}} - {{item.idade}} anos - {{item.getTipo()}}
  </li>
</ul>

<button (click)="title='Testando 1, 2, 3'">Mudar Título</button>